@model Gesture_Go_v1.Models.VMSessao



@Styles.Render("~/Content/PgInicial.css")

@{
    ViewBag.Title = "PaginaInicialIndex";
}
<style type="text/css">
    .ldBar path.mainline {
        stroke-width: 8;
        stroke: #09f;
        stroke-linecap: round;
    }

    .ldBar path.baseline {
        stroke-width: 10;
        stroke: lightgray;
        stroke-linecap: round;
        filter: drop-shadow();
    }
</style>

<div class="col-12 mb-2  p-2">
    <div class="p-3  m-1  card bg-light shadow" style="border-radius: 8px 8px 8px 8px;">
        <div class="row ">
            <div class="col-12 h5 text-center">Desempenho</div>

            <div class=" col-xl-6 col-md-6 col-sm-12 row ">
                <div class="col-4 ">
                    <div data-preset="fan" class=" ldBar label-center h6 m-auto" data-value="@ViewBag.a"></div>
                </div>
                <div class="col-8 pt-3 h6">Prática diaria: @{ if (ViewBag.horaCompleto != null)
                    {<span class=" h6 text-success">@ViewBag.horaCompleto</span>}
                        else {<span class="h6">@ViewBag.hora/1 Hora</span> } }
                </div>
            </div>

            <div class="col-xl-6 col-md-6 col-sm-12 row  ml-xl-4">
                <div class="col-8 pt-3 h6 text-right">
                    Prática Semanal: @{ if (ViewBag.semanaCompleto != null)
                        {<span class=" h6 text-success">@ViewBag.horaCompleto</span>}
                    else
                    {<span class="h6">@ViewBag.semana/7 Horas</span> } }
                </div>
                <div class="col-4 ">
                    <div data-preset="fan" class=" ldBar label-center h6 m-auto" data-value="@ViewBag.b"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 mb-3">
    <div class="p-3  m-1 ml-2 card bg-light shadow" style="border-radius: 5px 5px 20px 20px;">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="h5 text-center">Prática - Selecione Preferências</div>
            <hr />
            <div class="col-12 p-2">
                <div class="row">

                    <div class="col-xl-4 col-12 col-md-4 col-sm-12 p-1">
                        <div class="cboCard">
                            @Html.RadioButtonFor(model => model.ses_tipo, "Humano", new { @id = "card1" })
                            <label for="card1">
                                <h5>Figura Humana</h5>
                            </label>
                        </div>
                    </div>

                    <div class="col-xl-4 col-12 col-md-4 col-sm-12  p-1">
                        <div class="cboCard">
                            @Html.RadioButtonFor(model => model.ses_tipo, "Animal", new { @id = "card2" })
                            <label for="card2">
                                <h5>Animais</h5>
                            </label>
                        </div>
                    </div>

                    <div class="col-xl-4 col-12 col-md-4 col-sm-12 p-1">
                        <div class=" cboCard">
                            @Html.RadioButtonFor(model => model.ses_tipo, "Estruturas", new { @id = "card3" })
                            <label for="card3">
                                <h5>Estruturas</h5>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 p-1 my-2">
                <div class="row">
                    <div class="col-6 p-2">
                        @Html.LabelFor(model => model.ses_timer, htmlAttributes: new { @class = "control-label col-12 h6" })

                            @Html.EditorFor(model => model.ses_timer, new { htmlAttributes = new { @class = "form-control", @type = "time", @list = "browsers", @step = "1" } })
                            <datalist id="browsers">
                                <option value="00:00:30">
                                <option value="00:01:00">
                                <option value="00:01:30">
                                <option value="00:02:00">
                                <option value="00:05:00">
                                <option value="00:10:00">
                            </datalist>
                            @Html.ValidationMessageFor(model => model.ses_timer, "", new { @class = "text-danger" })

                    </div>

                    <div class="col-6 p-2">
                        @Html.LabelFor(model => model.ses_qtdImages, htmlAttributes: new { @class = "control-label col-12 h6 text-white" })

                            <div class="col-12">
                                <input type="submit" value="Iniciar Prática" class="text-center btn btn-block btn-primary"/>
                            </div>
                    </div>

                </div>
            </div>

        }
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/Content/dist/loading-bar.css" />
<script type="text/javascript" src="~/Content/dist/loading-bar.js"></script>
