@model IEnumerable<Gesture_Go_v1.Models.Imagem>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gestrure Go</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Pratica.css")

</head>
<body class="col-12">

    @{
        var tempo = DateTime.Now.AddSeconds(ViewBag.segundos);
        var tempoRestante = TimeSpan.FromTicks(tempo.Ticks - DateTime.Now.Ticks).TotalSeconds;
        ViewBag.Title = "Pratica";
        int count = 0;
    }
    <div class="col-12 ">
        <div class="btn btn-dark"><i>@Html.ActionLink("Finalizar", "PaginaInicialIndex", "PaginaInicial", new { area = "" }, new { @class = "bi bi-arrow-90deg-left" })</i></div></a>
    </div>

    <div class="col-4 bg-dark" id="Controle" style="border-radius: 8px 8px 8px 8px; position: absolute; z-index: 9; top: 3%; left: 65%;">
        <div class="btn btn-sm btn-dark col-12" id="puxador" style="cursor: move; z-index: 10;"><i class="bi bi-dash-lg p-1 text-white"></i></div>
        <div class="row">
            <div class="col-3 text-white mt-1 text-center"><span id="TimerMinutos"></span>:<span id="TimerSegundos"></span></div>
            <div class="btn-group offset-1 col-5 " role="group">
                <div class="row">
                    <div class="btn btn-dark col-4" id="retorna" onclick="RetomaImg()"><i class="bi bi-skip-start-circle p-1"></i></i></div>
                    <div class="btn btn-dark col-4" id="pausa" onclick="Pausa()"><i class="bi bi-play-circle p-1 text-white"></i></div>
                    <div class="btn btn-dark col-4" id="avança" onclick="ProximaImg()"><i class="bi bi-skip-end-circle p-1"></i></div>
                </div>
            </div>
            <div class="btn btn-dark col-3 p-1" id="Post"><i class="bi bi-file-post-fill p-1"></i></div>
        </div>
    </div>

        </br>

        <div class="offset-1 col-10 ">
            <div id="carouselExampleControls" class="carousel slide " data-interval="0" data-ride="carousel">
                <div class="carousel-inner">

                    @{ foreach (var item in Model)
                        {
                            <div class="carousel-item  @( (count == 0)? "active" : "") ">

                                @Html.HiddenFor(modelItem => item.img_id)
                                <img src="~/Imagens/@item.img_nome?@DateTime.Now.ToString("yyyyMMddHHmmss")" class="col-12" />
                            </div>
                            count++;
                        }
                    }

                </div>
            </div>
        </div>

        <script>

    var TempoRes = @tempoRestante;
    var ContSeg = TempoRes % 60;
    var pause = false;
    startTick();


    function FormataNumero(number) {
        if (number < 10) return '0' + number;
        else return '' + number;
    }

    function PegaId() {
        var item = $(".active")
        var li = item.find("#item_img_id")
        var id = li.val();
    }


    function startTick() {
        document.getElementById('TimerSegundos').innerText = FormataNumero(ContSeg);
        document.getElementById('TimerMinutos').innerText = FormataNumero(parseInt(TempoRes/60));


        var _tick = setInterval(function () {
            PegaId();
            if (TempoRes == 0)
            {
                $('#carouselExampleControls').carousel('next');
            }
                if (TempoRes >= 0) {

                document.getElementById('TimerSegundos').innerText = FormataNumero(ContSeg);
                document.getElementById('TimerMinutos').innerText = FormataNumero(parseInt(TempoRes / 60));
                    if (ContSeg == 0) { ContSeg = 60; }

                    if (pause == false) {
                        TempoRes--;
                        ContSeg--;
                    }
                }
                else {
                    TempoRes = @tempoRestante;
                    ContSeg = TempoRes % 60;
                }
           }, 1000);
    }

    dragElement(document.getElementById("Controle"));

    function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id + "puxador")) {
            document.getElementById(elmnt.id + "puxador").onmousedown = dragMouseDown;
        } else {

            elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }

    function ProximaImg() {
        TempoRes = @tempoRestante;
        ContSeg = TempoRes % 60;
        $('#carouselExampleControls').carousel('next');

    }

    function RetomaImg() {
        TempoRes = @tempoRestante;
        ContSeg = TempoRes % 60;
        $('#carouselExampleControls').carousel('prev');

    }

    function Pausa() {
        if (pause == true) { pause = false; }
        else { pause = true; }

    }
        </script>
</body>
</html>
