@model IEnumerable<Gesture_Go_v1.Models.Imagem>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gestrure Go</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Pratica.css")
</head>

@{
    
    var tempo = DateTime.Now.AddSeconds(ViewBag.segundos);
    var tempoRestante = TimeSpan.FromTicks(tempo.Ticks - DateTime.Now.Ticks).TotalSeconds;
    ViewBag.Title = "Pratica";
    int count = 0;
}

<div class="col-12 mb-1 bg-dark p-1 px-3 ">
    <div class="col-12 row">
        <div  id="finalizar">@Html.ActionLink(" Finalizar", "PaginaInicialIndex", "PaginaInicial", new { area = "" }, new { @class = "bi bi-arrow-90deg-left  btn  btn-outline-secondary p-1 text-white" })</div>
        @*<div class="offset-7 row"> 
            <span class="text-white h6 font-weight-lighter  ml-5 text-justify">Avanço Automático <input class="" id="avanco" type="checkbox" /></span>
        </div>*@
    </div>
</div>




<div class="col-xl-4 col-md-4 col-sm-6 bg-dark" id="Controle" style="border-radius: 8px 8px 8px 8px; position: absolute; z-index: 9; top: calc(100vh - 69px);">
    <div class="btn btn-sm btn-dark col-12" id="puxador" style="cursor: move; z-index: 10;"><i class="bi bi-dash-lg p-1 text-white"></i></div>
    <div class="row">
        <div class="col-3 text-white mt-1 text-center"><span id="TimerMinutos"></span>:<span id="TimerSegundos"></span></div>
        <div class="btn-group offset-1 col-5 " role="group">
            <div class="row">
                <div class="btn btn-dark col-4" id="retorna" onclick="RetomaImg()"><i class="bi bi-skip-start-circle p-1"></i></i></div>
                <div class="btn btn-dark col-4" id="pausa" onclick="Pausa()"><i class="bi bi-play-circle p-1 text-white"></i></div>
                <div class="btn btn-dark col-4" id="avança" onclick="ProximaImg()"><i class="bi bi-skip-end-circle p-1"></i></div>
            </div>
        </div>
        <div class="btn btn-dark col-2 p-1" id="Post"><i class="bi bi-file-post-fill p-1" onclick="ChamaPost()" data-toggle="modal" data-target="#myModal"></i></div>
    </div>
</div>

    </br>

<div class="col-12 ">
    <div id="carouselExampleControls" class="carousel slide" data-interval="0" data-ride="carousel">
        <div class="carousel-inner">

            @{ foreach (var item in Model)
                {

                    <div class="carousel-item   @( (count == 0)? "active" : "") ">
                        <div class="col-12 d-flex justify-content-center">
                            @Html.HiddenFor(modelItem => item.Id)
                            @Html.HiddenFor(modelItem => item.Img_nome)
                            <img src="~/Imagens/@item.Img_nome?@DateTime.Now.ToString("yyyyMMddHHmmss")" class="img-fluid" style="border-radius: 5px;" />
                        </div>
                    </div>
                    count++;
                }
            }

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4>Postar um aconselhamento</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body p-0" id="modal">  

                <div class="col-12 ">

                    @*<div class="col-12 my-1">
                        Imagem Referencia :
                        <img src="" class="w-25" id="imgPost" style="border-radius: 5px;" />
                        <input type="hidden" id="imgRefe" />
                    </div>*@

                    <div class="col-12 my-2">
                        Dúvida :
                        <div>
                            <input type="text"  class="form-control" id="Titulo" />
                        </div>
                    </div>

                    <div class="col-12 my-2">
                        Seu sketch:
                        <div class="col-md-10">
                            <input id="arquivo" class="form-control-file" type="file" />
                        </div>
                    </div>

              
                    <div class="col-12 my-3">
                        <hr />
                        <div id="msgerro"></div>
                        <div class="col-12">
                            <input type="button" value="Postar" id="Postar" class="btn btn-primary form-control" />
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



    <div class="toast" id="msg" style="position: absolute; top: 10px; right: 10px;" data-delay="4000">
        <div class="toast-header">
            <img src="..." class="rounded mr-2" alt="...">
            <strong class="mr-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body ">

        </div>
    </div>



<script>

    var TempoRes = @tempoRestante;
    var ContSeg = TempoRes % 60;
    var pause = false;
    var qtdPratica = 0;

    startTick();


    function FormataNumero(number) {
        if (number < 10) return '0' + number;
        else return '' + number;
    }

    function PegaId() {
        var item = $(".active")
        var li = item.find("#item_id")
        var id = li.val();
        return id;
    }

    function PegaImg() {
        var item = $(".active")
        var li = item.find("#Img_nome")
        var img = li.val();
        return img;
    }


    function startTick() {
        document.getElementById('TimerSegundos').innerText = FormataNumero(ContSeg);
        document.getElementById('TimerMinutos').innerText = FormataNumero(parseInt(TempoRes/60));


        var _tick = setInterval(function () {
            PegaId();
            if (TempoRes == 0)
            {
                //if (document.getElementById('avanco'). == true) {
                   
                //}
                $('#carouselExampleControls').carousel('next');
                
                qtdPratica++;
            }
                if (TempoRes >= 0) {

                document.getElementById('TimerSegundos').innerText = FormataNumero(ContSeg);
                document.getElementById('TimerMinutos').innerText = FormataNumero(parseInt(TempoRes / 60));
                    if (ContSeg == 0) { ContSeg = 60; }

                    if (pause == false) {
                        TempoRes--;
                        ContSeg--;
                    }
                }
                else {
                    TempoRes = @tempoRestante;
                    ContSeg = TempoRes % 60;
                }
           }, 1000);
    }

    dragElement(document.getElementById("Controle"));

    function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id + "puxador")) {
            document.getElementById(elmnt.id + "puxador").onmousedown = dragMouseDown;
        } else {

            elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }

    function ProximaImg() {
        TempoRes = @tempoRestante;
        ContSeg = TempoRes % 60;
        $('#carouselExampleControls').carousel('next');

    }

    function RetomaImg() {
        TempoRes = @tempoRestante;
        ContSeg = TempoRes % 60;
        $('#carouselExampleControls').carousel('prev');

    }

    function Pausa() {
        if (pause == true) { pause = false; }
        else { pause = true; }

    }

    function ChamaPost() {
        var img = PegaId();
        pause = true;
        $("#imgRefe").val(img);
    }

    $(document).ready(function () {

        $("#Postar").click(function () {

            var nomeImg = PegaImg();
            $("#msgerro").text(nomeImg);

            var imagem = $("#arquivo").get(0).files[0];
            var img = PegaId();
            var titulo = $("#Titulo").val();
            var formData = new FormData();
            formData.append('id', img);
            formData.append('titulo', titulo);
            formData.append('imagem', imagem);

            $.ajax({
                contentType: false,
                processData: false,
                type: "POST",
                url: "/Post/CriarPost",
                data: formData,
                success: function (retorno) {
                    if (retorno == "ok") {

                        $('.modal').modal('toggle');
                        $('#msg').toast('show');
                        /* $('#msgerro').text("Post criado");*/
                       
                       

                        

                        //$("#msgerro").removeClass("text-danger");
                        //$("#msgerro").addClass("text-success");
                        //$("#msgerro").text("Post criado");
                      

                    }
                    else if (retorno == "semImg") {
                        $("#msgerro").addClass("text-danger");
                        $("#msgerro").text("Anexe a imagem da prática");
                    }
                    else if (retorno == "imgGrande") {
                        $("#msgerro").addClass("text-danger");
                        $("#msgerro").text("Tamanho de imagem muito grande");
                    }
                    else if (retorno == "n") {
                        $("#msgerro").addClass("text-danger");
                        $("#msgerro").text("Preencha os campos corretamente");
                    }
                    else if (retorno == "tpequeno") {
                        $("#msgerro").addClass("text-danger");
                        $("#msgerro").text("Pergunra muito pequena");
                    }
                }
            });
        });


         $("#finalizar").click(function () {

        if (qtdPratica != 0) {
            var timer =  '@ViewBag.timer';
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "/Post/HistoticoPratica",
                data: { qtdPratica, timer},
                success: function (retorno) {}
            });
        }
    });

    });



</script>

</body>

</html>