@model IEnumerable<Gesture_Go_v1.Models.Posts>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pos_Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pos_imgUpload)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pos_Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pos_Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagemId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pos_imgUpload)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pos_Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Pos_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Pos_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Pos_id })
        </td>
    </tr>
}

</table>
